body {
    background-color:grey;

}
.field-label {
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif !important;
    font-size: 25px !important;
    color: rgba(0,0,0,.85) !important;
    margin-top: 10% !important;
    margin-bottom: 5% !important;
    text-align: center;
}
.no-data-label {
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif !important;
    font-size: 20px !important;
    color: rgb(114, 7, 7) !important;
    font-weight: bold;
}
input::placeholder {
    font-weight: bold !important;
    opacity: .90 !important;
    color: blue !important;
}
